function Customer.new 0
push constant 10
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push constant 0
pop this 2
call GameConfig.getWaitingPatience 0
pop this 3
push argument 2
pop this 4
push constant 0
pop this 7
push constant 0
pop this 8
push pointer 0
call Customer.draw 1
pop temp 0
push pointer 0
return
function Customer.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Customer.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push constant 6
call Screen.drawCircle 3
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push constant 1
add
push constant 4
call Screen.drawCircle 3
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push constant 5
sub
push constant 4
call Screen.drawCircle 3
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push constant 4
sub
push constant 2
call Screen.drawCircle 3
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push constant 1
sub
push this 1
push constant 5
sub
push this 0
push constant 1
sub
push this 1
push constant 4
sub
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 1
add
push this 1
push constant 5
sub
push this 0
push constant 1
add
push this 1
push constant 4
sub
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 1
sub
push this 1
push constant 3
sub
push this 0
push constant 1
add
push this 1
push constant 2
sub
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 4
sub
push this 1
push constant 6
add
push this 0
push constant 2
sub
push this 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 2
add
push this 1
push constant 6
add
push this 0
push constant 4
add
push this 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push this 2
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
label IF_FALSE0
push this 2
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push this 0
push constant 10
add
push this 1
push constant 8
sub
call Customer.drawMenu 3
pop temp 0
label IF_FALSE1
push this 2
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
push this 0
push constant 10
add
push this 1
push constant 8
sub
call Customer.drawFork 3
pop temp 0
label IF_FALSE2
push this 2
push constant 1
neg
gt
push this 2
push constant 3
lt
and
push this 2
push constant 4
eq
or
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
call Customer.shouldShowClock 1
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
push this 0
push constant 10
sub
push this 1
push constant 8
sub
call Customer.drawClock 3
pop temp 0
label IF_FALSE4
label IF_FALSE3
push constant 0
return
function Customer.erase 4
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push constant 26
sub
pop local 0
push this 0
push constant 26
add
pop local 1
push this 1
push constant 15
sub
pop local 2
push this 1
push constant 18
add
pop local 3
push local 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 0
label IF_FALSE0
push local 1
push constant 511
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 511
pop local 1
label IF_FALSE1
push local 2
push constant 0
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
pop local 2
label IF_FALSE2
push local 3
push constant 255
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 255
pop local 3
label IF_FALSE3
push local 0
push local 1
lt
push local 2
push local 3
lt
and
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 0
push local 2
push local 1
push local 3
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE4
push constant 0
return
function Customer.update 2
push argument 0
pop pointer 0
push constant 0
pop local 1
push this 2
push constant 3
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 3
push constant 2
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Customer.isPair 1
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call Customer.getPair 1
pop local 0
push local 0
push constant 0
eq
not
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 0
call Customer.getState 1
push constant 3
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 0
call Customer.getPatience 1
push constant 1
gt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
not
pop local 1
label IF_FALSE5
label IF_FALSE4
label IF_FALSE3
label IF_FALSE2
label IF_FALSE1
label IF_FALSE0
push this 2
push constant 4
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push pointer 0
call Customer.isPair 1
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push pointer 0
call Customer.getPair 1
pop local 0
push local 0
push constant 0
eq
not
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push local 0
call Customer.getState 1
push constant 3
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push constant 0
not
pop local 1
label IF_FALSE9
label IF_FALSE8
label IF_FALSE7
label IF_FALSE6
push local 1
not
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push this 3
push constant 0
gt
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push this 3
push constant 1
sub
pop this 3
label IF_FALSE11
label IF_FALSE10
push this 2
push constant 3
eq
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push this 3
push constant 1
lt
if-goto IF_TRUE13
goto IF_FALSE13
label IF_TRUE13
push pointer 0
call Customer.isPair 1
if-goto IF_TRUE14
goto IF_FALSE14
label IF_TRUE14
push pointer 0
call Customer.getPair 1
pop local 0
push local 0
push constant 0
eq
not
if-goto IF_TRUE15
goto IF_FALSE15
label IF_TRUE15
push local 0
call Customer.getState 1
push constant 3
eq
if-goto IF_TRUE16
goto IF_FALSE16
label IF_TRUE16
push local 0
call Customer.getPatience 1
push constant 1
gt
if-goto IF_TRUE17
goto IF_FALSE17
label IF_TRUE17
push constant 0
return
label IF_FALSE17
label IF_FALSE16
label IF_FALSE15
label IF_FALSE14
push constant 4
pop this 2
call GameConfig.getPaymentPatience 0
pop this 3
push pointer 0
call Customer.erase 1
pop temp 0
push pointer 0
call Customer.draw 1
pop temp 0
label IF_FALSE13
label IF_FALSE12
push constant 0
return
function Customer.bothReadyToPay 2
push argument 0
pop pointer 0
push pointer 0
call Customer.isPair 1
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Customer.isReadyToLeave 1
return
label IF_FALSE0
push pointer 0
call Customer.getPair 1
pop local 0
push local 0
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push local 0
call Customer.getState 1
pop local 1
push this 2
push constant 4
eq
push local 1
push constant 4
eq
and
return
function Customer.seat 0
push argument 0
pop pointer 0
push constant 1
pop this 2
call GameConfig.getSeatedPatience 0
pop this 3
push pointer 0
call Customer.erase 1
pop temp 0
push pointer 0
call Customer.draw 1
pop temp 0
push constant 0
return
function Customer.takeOrder 0
push argument 0
pop pointer 0
push this 2
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 2
pop this 2
call GameConfig.getOrderedPatience 0
pop this 3
push pointer 0
call Customer.erase 1
pop temp 0
push pointer 0
call Customer.draw 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Customer.serveFood 0
push argument 0
pop pointer 0
push this 2
push constant 2
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 3
pop this 2
call GameConfig.getEatingPatience 0
pop this 3
push pointer 0
call Customer.erase 1
pop temp 0
push pointer 0
call Customer.draw 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Customer.collectPayment 1
push argument 0
pop pointer 0
push this 3
call GameConfig.getTipDivider 0
call Math.divide 2
pop local 0
push local 0
call GameConfig.getMinTip 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
call GameConfig.getMinTip 0
pop local 0
label IF_FALSE0
push local 0
call GameConfig.getMaxTip 0
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
call GameConfig.getMaxTip 0
pop local 0
label IF_FALSE1
push local 0
return
function Customer.getX 0
push argument 0
pop pointer 0
push this 0
return
function Customer.getY 0
push argument 0
pop pointer 0
push this 1
return
function Customer.getState 0
push argument 0
pop pointer 0
push this 2
return
function Customer.getPatience 0
push argument 0
pop pointer 0
push this 3
return
function Customer.moveTo 0
push argument 0
pop pointer 0
push pointer 0
call Customer.erase 1
pop temp 0
push argument 1
pop this 0
push argument 2
pop this 1
push constant 0
return
function Customer.isReadyToLeave 0
push argument 0
pop pointer 0
push this 2
push constant 4
eq
return
function Customer.leftAngry 0
push argument 0
pop pointer 0
push this 3
push constant 1
lt
return
function Customer.setFoodType 0
push argument 0
pop pointer 0
push argument 1
pop this 5
push constant 0
return
function Customer.getFoodType 0
push argument 0
pop pointer 0
push this 5
return
function Customer.setQueuePosition 0
push argument 0
pop pointer 0
push argument 1
pop this 6
push constant 0
return
function Customer.getQueuePosition 0
push argument 0
pop pointer 0
push this 6
return
function Customer.setPair 0
push argument 0
pop pointer 0
push argument 1
pop this 7
push constant 0
return
function Customer.getPair 0
push argument 0
pop pointer 0
push this 7
return
function Customer.isPair 0
push argument 0
pop pointer 0
push this 7
push constant 0
eq
not
return
function Customer.setIsPairLeader 0
push argument 0
pop pointer 0
push argument 1
pop this 8
push constant 0
return
function Customer.getIsPairLeader 0
push argument 0
pop pointer 0
push this 8
return
function Customer.setSeatedOnLeft 0
push argument 0
pop pointer 0
push argument 1
pop this 9
push constant 0
return
function Customer.drawFood 0
push argument 0
pop pointer 0
push this 2
push constant 3
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 9
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push constant 15
add
push this 1
push constant 6
call Screen.drawCircle 3
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push constant 15
add
push this 1
push constant 5
call Screen.drawCircle 3
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push constant 13
add
push this 1
push constant 1
sub
push constant 2
call Screen.drawCircle 3
pop temp 0
push this 0
push constant 17
add
push this 1
push constant 2
call Screen.drawCircle 3
pop temp 0
push this 0
push constant 7
add
push this 1
push constant 2
sub
push this 0
push constant 8
add
push this 1
push constant 2
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 22
add
push this 1
push constant 2
sub
push this 0
push constant 23
add
push this 1
push constant 2
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 21
add
push this 1
push constant 2
sub
push this 0
push constant 25
add
push this 1
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
goto IF_END1
label IF_FALSE1
push this 0
push constant 15
sub
push this 1
push constant 6
call Screen.drawCircle 3
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push constant 15
sub
push this 1
push constant 5
call Screen.drawCircle 3
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push constant 17
sub
push this 1
push constant 1
sub
push constant 2
call Screen.drawCircle 3
pop temp 0
push this 0
push constant 13
sub
push this 1
push constant 2
call Screen.drawCircle 3
pop temp 0
push this 0
push constant 23
sub
push this 1
push constant 2
sub
push this 0
push constant 22
sub
push this 1
push constant 2
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 25
sub
push this 1
push constant 2
sub
push this 0
push constant 21
sub
push this 1
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 8
sub
push this 1
push constant 2
sub
push this 0
push constant 7
sub
push this 1
push constant 2
add
call Screen.drawRectangle 4
pop temp 0
label IF_END1
label IF_FALSE0
push constant 0
return
function Customer.shouldShowClock 0
push argument 0
pop pointer 0
push this 3
push constant 251
lt
return
function Customer.drawClock 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 1
push argument 2
push constant 4
call Screen.drawCircle 3
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push argument 1
push argument 2
push constant 3
call Screen.drawCircle 3
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 1
push argument 2
push argument 1
push argument 2
push constant 2
sub
call Screen.drawLine 4
pop temp 0
push argument 1
push argument 2
push argument 1
push constant 2
add
push argument 2
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Customer.drawMenu 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 1
push constant 3
sub
push argument 2
push constant 4
sub
push argument 1
push constant 3
add
push argument 2
push constant 4
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push argument 1
push constant 2
sub
push argument 2
push constant 3
sub
push argument 1
push constant 2
add
push argument 2
push constant 3
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 1
push constant 2
sub
push argument 2
push constant 2
sub
push argument 1
push constant 2
add
push argument 2
push constant 2
sub
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 2
sub
push argument 2
push argument 1
push constant 2
add
push argument 2
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 2
sub
push argument 2
push constant 2
add
push argument 1
push constant 2
add
push argument 2
push constant 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Customer.drawFork 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 1
push argument 2
push constant 1
add
push argument 1
push argument 2
push constant 6
add
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 2
sub
push argument 2
push argument 1
push constant 2
add
push argument 2
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 2
sub
push argument 2
push argument 1
push constant 2
sub
push argument 2
push constant 3
sub
call Screen.drawLine 4
pop temp 0
push argument 1
push argument 2
push argument 1
push argument 2
push constant 3
sub
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 2
add
push argument 2
push argument 1
push constant 2
add
push argument 2
push constant 3
sub
call Screen.drawLine 4
pop temp 0
push constant 0
return
