function GameConfig.getGameLoopDelay 0
push constant 40
return
function GameConfig.getBasePenguinSpeed 0
push constant 3
return
function GameConfig.getCustomerSpawnInterval 0
push constant 100
return
function GameConfig.getInitialCustomerTimer 0
push constant 95
return
function GameConfig.getPairRandomPrime 0
push constant 23
return
function GameConfig.getPairThreshold 0
push constant 10
return
function GameConfig.getWaitingPatience 0
push constant 1125
return
function GameConfig.getSeatedPatience 0
push constant 500
return
function GameConfig.getOrderedPatience 0
push constant 2000
return
function GameConfig.getEatingPatience 0
push constant 175
return
function GameConfig.getPaymentPatience 0
push constant 500
return
function GameConfig.getAngryCustomerPenalty 0
push constant 5
return
function GameConfig.getTipDivider 0
push constant 20
return
function GameConfig.getMinTip 0
push constant 1
return
function GameConfig.getMaxTip 0
push constant 10
return
function GameConfig.getMaxCustomers 0
push constant 8
return
function GameConfig.getNumTables 0
push constant 6
return
function GameConfig.getNearDistance 0
push constant 40
return
function GameConfig.getQueueX 0
push constant 30
return
function GameConfig.getQueueStartY 0
push constant 60
return
function GameConfig.getQueueSpacing 0
push constant 30
return
function GameConfig.getFoodPrepTime 0
push constant 250
return
function GameConfig.getKitchenX 0
push constant 256
return
function GameConfig.getKitchenY 0
push constant 230
return
function GameConfig.getScreenWidth 0
push constant 512
return
function GameConfig.getScreenHeight 0
push constant 256
return
function GameConfig.getUIHeaderHeight 0
push constant 32
return
function GameConfig.getPenguinMinY 0
push constant 40
return
function GameConfig.getPenguinMaxY 0
push constant 235
return
function GameConfig.getPenguinMinX 0
push constant 25
return
function GameConfig.getPenguinMaxX 0
push constant 490
return
