function Penguin.new 0
push constant 7
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push constant 12
pop this 2
push constant 1
neg
pop this 3
push constant 1
neg
pop this 4
push constant 0
pop this 5
push constant 0
pop this 6
push pointer 0
call Penguin.draw 1
pop temp 0
push pointer 0
return
function Penguin.setSpeedUpgrades 0
push argument 0
pop pointer 0
push argument 1
pop this 5
push constant 0
pop this 6
push constant 0
return
function Penguin.getMoveStep 2
push argument 0
pop pointer 0
call GameConfig.getBasePenguinSpeed 0
pop local 0
push constant 0
pop local 1
push this 5
push constant 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 6
push constant 1
add
pop this 6
push this 6
push this 6
push constant 2
call Math.divide 2
push constant 2
call Math.multiply 2
sub
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 5
pop local 1
label IF_FALSE1
label IF_FALSE0
push local 0
push local 1
add
return
function Penguin.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Penguin.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push constant 8
call Screen.drawCircle 3
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push constant 1
add
push constant 5
call Screen.drawCircle 3
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push constant 6
sub
push constant 5
call Screen.drawCircle 3
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push constant 5
sub
push constant 3
call Screen.drawCircle 3
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push constant 2
sub
push this 1
push constant 6
sub
push this 0
push constant 1
sub
push this 1
push constant 5
sub
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 1
add
push this 1
push constant 6
sub
push this 0
push constant 2
add
push this 1
push constant 5
sub
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 1
sub
push this 1
push constant 4
sub
push this 0
push constant 1
add
push this 1
push constant 3
sub
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 5
sub
push this 1
push constant 8
add
push this 0
push constant 3
sub
push this 1
push constant 9
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 3
add
push this 1
push constant 8
add
push this 0
push constant 5
add
push this 1
push constant 9
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 9
sub
push this 1
push constant 1
sub
push this 0
push constant 7
sub
push this 1
push constant 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 7
add
push this 1
push constant 1
sub
push this 0
push constant 9
add
push this 1
push constant 3
add
call Screen.drawRectangle 4
pop temp 0
push this 3
push constant 1
neg
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push this 0
push constant 15
sub
push this 1
push constant 2
sub
push this 3
call Penguin.drawFoodInHand 4
pop temp 0
label IF_FALSE0
push this 4
push constant 1
neg
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push this 0
push constant 15
add
push this 1
push constant 2
sub
push this 4
call Penguin.drawFoodInHand 4
pop temp 0
label IF_FALSE1
push constant 0
return
function Penguin.drawFoodInHand 0
push argument 0
pop pointer 0
push argument 1
push constant 5
lt
push argument 1
push constant 506
gt
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push argument 2
push constant 0
lt
push argument 2
push constant 248
gt
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 3
push constant 0
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 1
push constant 3
sub
push argument 2
push argument 1
push constant 3
add
push argument 2
push constant 1
add
call Screen.drawRectangle 4
pop temp 0
push argument 1
push constant 3
sub
push argument 2
push constant 2
add
push argument 1
push constant 3
add
push argument 2
push constant 3
add
call Screen.drawRectangle 4
pop temp 0
push argument 1
push constant 3
sub
push argument 2
push constant 4
add
push argument 1
push constant 3
add
push argument 2
push constant 5
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE2
push argument 3
push constant 1
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push argument 1
push argument 2
push argument 1
push constant 3
sub
push argument 2
push constant 5
add
call Screen.drawLine 4
pop temp 0
push argument 1
push argument 2
push argument 1
push constant 3
add
push argument 2
push constant 5
add
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 3
sub
push argument 2
push constant 5
add
push argument 1
push constant 3
add
push argument 2
push constant 5
add
call Screen.drawLine 4
pop temp 0
label IF_FALSE3
push argument 3
push constant 2
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push argument 1
push argument 2
push constant 2
add
push constant 3
call Screen.drawCircle 3
pop temp 0
push argument 1
push constant 3
sub
push argument 2
push constant 2
add
push argument 1
push constant 5
sub
push argument 2
push constant 1
add
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 3
sub
push argument 2
push constant 2
add
push argument 1
push constant 5
sub
push argument 2
push constant 3
add
call Screen.drawLine 4
pop temp 0
label IF_FALSE4
push constant 0
return
function Penguin.erase 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push constant 20
sub
push this 1
push constant 12
sub
push this 0
push constant 20
add
push this 1
push constant 10
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Penguin.moveUp 2
push argument 0
pop pointer 0
push pointer 0
call Penguin.getMoveStep 1
pop local 0
push this 1
push local 0
sub
pop local 1
push local 1
call GameConfig.getPenguinMinY 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Penguin.erase 1
pop temp 0
push local 1
pop this 1
push constant 0
not
return
label IF_FALSE0
push constant 0
return
function Penguin.moveDown 2
push argument 0
pop pointer 0
push pointer 0
call Penguin.getMoveStep 1
pop local 0
push this 1
push local 0
add
pop local 1
push local 1
call GameConfig.getPenguinMaxY 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Penguin.erase 1
pop temp 0
push local 1
pop this 1
push constant 0
not
return
label IF_FALSE0
push constant 0
return
function Penguin.moveLeft 2
push argument 0
pop pointer 0
push pointer 0
call Penguin.getMoveStep 1
pop local 0
push this 0
push local 0
sub
pop local 1
push local 1
call GameConfig.getPenguinMinX 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Penguin.erase 1
pop temp 0
push local 1
pop this 0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
function Penguin.moveRight 2
push argument 0
pop pointer 0
push pointer 0
call Penguin.getMoveStep 1
pop local 0
push this 0
push local 0
add
pop local 1
push local 1
call GameConfig.getPenguinMaxX 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Penguin.erase 1
pop temp 0
push local 1
pop this 0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
function Penguin.redrawNearbyObjects 5
push argument 0
pop pointer 0
push argument 6
push constant 200
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
label IF_FALSE0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push argument 2
lt
not
if-goto WHILE_END0
push local 0
push argument 1
add
pop pointer 1
push that 0
pop local 3
push local 3
call Table.getX 1
push argument 5
sub
pop local 1
push local 3
call Table.getY 1
push argument 6
sub
pop local 2
push local 1
push constant 0
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 1
neg
pop local 1
label IF_FALSE1
push local 2
push constant 0
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 2
neg
pop local 2
label IF_FALSE2
push local 1
push constant 50
lt
push local 2
push constant 50
lt
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 3
call Table.draw 1
pop temp 0
label IF_FALSE3
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
pop local 0
label WHILE_EXP1
push local 0
push argument 4
lt
not
if-goto WHILE_END1
push local 0
push argument 3
add
pop pointer 1
push that 0
pop local 4
push local 4
push constant 0
eq
not
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 4
call Customer.getX 1
push argument 5
sub
pop local 1
push local 4
call Customer.getY 1
push argument 6
sub
pop local 2
push local 1
push constant 0
lt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 1
neg
pop local 1
label IF_FALSE5
push local 2
push constant 0
lt
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push local 2
neg
pop local 2
label IF_FALSE6
push local 1
push constant 50
lt
push local 2
push constant 50
lt
and
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push local 4
call Customer.draw 1
pop temp 0
label IF_FALSE7
label IF_FALSE4
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push constant 0
pop local 0
label WHILE_EXP2
push local 0
push argument 4
lt
not
if-goto WHILE_END2
push local 0
push argument 3
add
pop pointer 1
push that 0
pop local 4
push local 4
push constant 0
eq
not
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push local 4
call Customer.getX 1
push argument 5
sub
pop local 1
push local 4
call Customer.getY 1
push argument 6
sub
pop local 2
push local 1
push constant 0
lt
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push local 1
neg
pop local 1
label IF_FALSE9
push local 2
push constant 0
lt
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push local 2
neg
pop local 2
label IF_FALSE10
push local 1
push constant 50
lt
push local 2
push constant 50
lt
and
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push local 4
call Customer.drawFood 1
pop temp 0
label IF_FALSE11
label IF_FALSE8
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP2
label WHILE_END2
push constant 0
return
function Penguin.getX 0
push argument 0
pop pointer 0
push this 0
return
function Penguin.getY 0
push argument 0
pop pointer 0
push this 1
return
function Penguin.pickupOrder 0
push argument 0
pop pointer 0
push this 3
push constant 1
neg
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
pop this 3
push pointer 0
call Penguin.erase 1
pop temp 0
push pointer 0
call Penguin.draw 1
pop temp 0
push constant 0
not
return
label IF_FALSE0
push this 4
push constant 1
neg
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 1
pop this 4
push pointer 0
call Penguin.erase 1
pop temp 0
push pointer 0
call Penguin.draw 1
pop temp 0
push constant 0
not
return
label IF_FALSE1
push constant 0
return
function Penguin.deliverOrder 0
push argument 0
pop pointer 0
push this 4
push constant 1
neg
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
neg
pop this 4
push pointer 0
call Penguin.erase 1
pop temp 0
push pointer 0
call Penguin.draw 1
pop temp 0
push constant 0
return
label IF_FALSE0
push this 3
push constant 1
neg
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 1
neg
pop this 3
push pointer 0
call Penguin.erase 1
pop temp 0
push pointer 0
call Penguin.draw 1
pop temp 0
push constant 0
return
label IF_FALSE1
push constant 0
return
function Penguin.getHasOrder 0
push argument 0
pop pointer 0
push this 3
push constant 1
neg
eq
not
push this 4
push constant 1
neg
eq
not
or
return
function Penguin.bothHandsFull 0
push argument 0
pop pointer 0
push this 3
push constant 1
neg
eq
not
push this 4
push constant 1
neg
eq
not
and
return
function Penguin.getLeftHandFood 0
push argument 0
pop pointer 0
push this 3
return
function Penguin.getRightHandFood 0
push argument 0
pop pointer 0
push this 4
return
function Penguin.getOrderType 0
push argument 0
pop pointer 0
push this 4
push constant 1
neg
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 4
return
label IF_FALSE0
push this 3
push constant 1
neg
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 3
return
label IF_FALSE1
push constant 1
neg
return
