function PenguinDinerGame.new 2
push constant 14
call Memory.alloc 1
pop pointer 0
push constant 250
push constant 200
call Penguin.new 2
pop this 0
call GameConfig.getNumTables 0
pop this 4
push constant 0
pop this 5
call GameConfig.getMaxCustomers 0
pop this 6
push constant 0
pop this 7
push constant 0
pop this 8
push constant 1
pop this 9
call GameConfig.getInitialCustomerTimer 0
pop this 10
push constant 0
pop this 11
push constant 0
pop this 12
push constant 0
pop this 13
push constant 6
call Array.new 1
pop this 1
push this 4
push constant 2
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
push this 1
add
push constant 200
push constant 120
push constant 0
call Table.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 1
add
push constant 310
push constant 120
push constant 1
call Table.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE0
push this 4
push constant 3
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
push this 1
add
push constant 160
push constant 120
push constant 0
call Table.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 1
add
push constant 256
push constant 120
push constant 1
call Table.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 1
add
push constant 352
push constant 120
push constant 2
call Table.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE1
push this 4
push constant 4
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
push this 1
add
push constant 180
push constant 100
push constant 0
call Table.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 1
add
push constant 330
push constant 100
push constant 1
call Table.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 1
add
push constant 180
push constant 140
push constant 2
call Table.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 1
add
push constant 330
push constant 140
push constant 3
call Table.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE2
push this 4
push constant 5
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
push this 1
add
push constant 140
push constant 90
push constant 0
call Table.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 1
add
push constant 256
push constant 90
push constant 1
call Table.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 1
add
push constant 372
push constant 90
push constant 2
call Table.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 1
add
push constant 198
push constant 150
push constant 3
call Table.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 1
add
push constant 314
push constant 150
push constant 4
call Table.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE3
push this 4
push constant 6
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
push this 1
add
push constant 140
push constant 80
push constant 0
call Table.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 1
add
push constant 256
push constant 80
push constant 1
call Table.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 1
add
push constant 372
push constant 80
push constant 2
call Table.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 1
add
push constant 140
push constant 160
push constant 3
call Table.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 1
add
push constant 256
push constant 160
push constant 4
call Table.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 1
add
push constant 372
push constant 160
push constant 5
call Table.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE4
push this 6
call Array.new 1
pop this 2
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 6
lt
not
if-goto WHILE_END0
push local 0
push this 2
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
call GameConfig.getKitchenX 0
call GameConfig.getKitchenY 0
push this 4
call Kitchen.new 3
pop this 3
push this 3
call Kitchen.draw 1
pop temp 0
push pointer 0
call PenguinDinerGame.drawUI 1
pop temp 0
push pointer 0
return
function PenguinDinerGame.dispose 3
push argument 0
pop pointer 0
push this 0
call Penguin.dispose 1
pop temp 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 4
lt
not
if-goto WHILE_END0
push local 0
push this 1
add
pop pointer 1
push that 0
pop local 1
push local 1
call Table.dispose 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push this 1
call Array.dispose 1
pop temp 0
push constant 0
pop local 0
label WHILE_EXP1
push local 0
push this 6
lt
not
if-goto WHILE_END1
push local 0
push this 2
add
pop pointer 1
push that 0
pop local 2
push local 2
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 2
call Customer.dispose 1
pop temp 0
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push this 2
call Array.dispose 1
pop temp 0
push this 3
call Kitchen.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function PenguinDinerGame.drawUI 0
push argument 0
pop pointer 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 13
call String.new 1
push constant 80
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 82
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
push constant 25
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 83
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 8
call Output.printInt 1
pop temp 0
push constant 0
push constant 40
call Output.moveCursor 2
pop temp 0
push constant 8
call String.new 1
push constant 65
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 5
call Output.printInt 1
pop temp 0
push constant 0
push constant 52
call Output.moveCursor 2
pop temp 0
push constant 8
call String.new 1
push constant 83
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 7
call Output.printInt 1
pop temp 0
push constant 1
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 29
call String.new 1
push constant 67
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 44
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 81
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 81
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 116
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 10
push constant 20
call Output.moveCursor 2
pop temp 0
push constant 22
call String.new 1
push constant 42
call String.appendChar 2
push constant 42
call String.appendChar 2
push constant 42
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 33
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 42
call String.appendChar 2
push constant 42
call String.appendChar 2
push constant 42
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 11
push constant 18
call Output.moveCursor 2
pop temp 0
push constant 22
call String.new 1
push constant 77
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
return
function PenguinDinerGame.updateScore 0
push argument 0
pop pointer 0
push constant 0
push constant 32
call Output.moveCursor 2
pop temp 0
push this 8
call Output.printInt 1
pop temp 0
push constant 2
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
push constant 48
call Output.moveCursor 2
pop temp 0
push this 5
call Output.printInt 1
pop temp 0
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
push constant 60
call Output.moveCursor 2
pop temp 0
push this 7
call Output.printInt 1
pop temp 0
push constant 2
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
return
function PenguinDinerGame.spawnCustomer 13
push argument 0
pop pointer 0
push this 10
push this 0
call Penguin.getX 1
add
push this 0
call Penguin.getY 1
add
push this 10
push this 0
call Penguin.getX 1
add
push this 0
call Penguin.getY 1
add
call GameConfig.getPairRandomPrime 0
call Math.divide 2
call GameConfig.getPairRandomPrime 0
call Math.multiply 2
sub
pop local 4
push local 4
call GameConfig.getPairThreshold 0
lt
pop local 10
push local 10
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 5
push this 6
push constant 2
sub
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
pop local 10
label IF_FALSE1
label IF_FALSE0
push this 5
push this 6
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 6
call Array.new 1
pop local 9
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 6
lt
not
if-goto WHILE_END0
push local 0
push local 9
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
pop local 0
label WHILE_EXP1
push local 0
push this 6
lt
not
if-goto WHILE_END1
push local 0
push this 2
add
pop pointer 1
push that 0
pop local 7
push local 7
push constant 0
eq
not
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 7
call Customer.getState 1
push constant 0
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 7
call Customer.getQueuePosition 1
pop local 3
push local 3
push constant 1
neg
gt
push local 3
push this 6
lt
and
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 3
push local 9
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE5
label IF_FALSE4
label IF_FALSE3
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push constant 0
pop local 1
push constant 0
pop local 11
push constant 0
pop local 12
label WHILE_EXP2
push local 1
push this 6
lt
not
if-goto WHILE_END2
push local 1
push local 9
add
pop pointer 1
push that 0
push constant 0
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
call GameConfig.getQueueStartY 0
push local 1
call GameConfig.getQueueSpacing 0
call Math.multiply 2
add
pop local 2
push constant 0
pop local 0
label WHILE_EXP3
push local 0
push this 6
lt
push local 11
not
and
not
if-goto WHILE_END3
push local 0
push this 2
add
pop pointer 1
push that 0
push constant 0
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push local 0
pop local 5
push constant 0
not
pop local 11
label IF_FALSE7
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP3
label WHILE_END3
push local 11
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
call GameConfig.getQueueX 0
push local 2
push constant 0
call Customer.new 3
pop local 7
push local 7
push local 1
call Customer.setQueuePosition 2
pop temp 0
push local 5
push this 2
add
push local 7
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 5
push constant 1
add
pop this 5
push local 10
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push constant 0
pop local 0
label WHILE_EXP4
push local 0
push this 6
lt
push local 12
not
and
not
if-goto WHILE_END4
push local 0
push this 2
add
pop pointer 1
push that 0
push constant 0
eq
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push local 0
pop local 6
push constant 0
not
pop local 12
label IF_FALSE10
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP4
label WHILE_END4
push local 12
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
call GameConfig.getQueueX 0
push constant 15
add
push local 2
push constant 0
call Customer.new 3
pop local 8
push local 8
push local 1
call Customer.setQueuePosition 2
pop temp 0
push local 6
push this 2
add
push local 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 5
push constant 1
add
pop this 5
push local 7
push local 8
call Customer.setPair 2
pop temp 0
push local 7
push constant 0
not
call Customer.setIsPairLeader 2
pop temp 0
push local 8
push local 7
call Customer.setPair 2
pop temp 0
push local 8
push constant 0
call Customer.setIsPairLeader 2
pop temp 0
label IF_FALSE11
label IF_FALSE9
push pointer 0
call PenguinDinerGame.updateScore 1
pop temp 0
push this 6
pop local 1
label IF_FALSE8
label IF_FALSE6
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP2
label WHILE_END2
push local 9
call Array.dispose 1
pop temp 0
label IF_FALSE2
push constant 0
return
function PenguinDinerGame.isNear 3
push argument 0
pop pointer 0
call GameConfig.getNearDistance 0
pop local 2
push this 0
call Penguin.getX 1
push argument 1
sub
pop local 0
push this 0
call Penguin.getY 1
push argument 2
sub
pop local 1
push local 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
neg
pop local 0
label IF_FALSE0
push local 1
push constant 0
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 1
neg
pop local 1
label IF_FALSE1
push local 0
push local 2
lt
push local 1
push local 2
lt
and
return
function PenguinDinerGame.updateQueue 0
push argument 0
pop pointer 0
push constant 0
return
function PenguinDinerGame.handleSeat 15
push argument 0
pop pointer 0
push constant 10000
pop local 4
push constant 1
neg
pop local 5
push constant 0
pop local 13
call GameConfig.getNearDistance 0
pop local 12
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 6
lt
not
if-goto WHILE_END0
push local 0
push this 2
add
pop pointer 1
push that 0
pop local 7
push local 7
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 7
call Customer.getState 1
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 7
call Customer.isPair 1
not
push local 7
call Customer.getIsPairLeader 1
or
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
call Penguin.getX 1
push local 7
call Customer.getX 1
sub
pop local 1
push this 0
call Penguin.getY 1
push local 7
call Customer.getY 1
sub
pop local 2
push local 1
push constant 0
lt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 1
neg
pop local 1
label IF_FALSE3
push local 2
push constant 0
lt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 2
neg
pop local 2
label IF_FALSE4
push local 1
push local 12
lt
push local 2
push local 12
lt
and
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 1
push local 2
add
pop local 3
push local 3
push local 4
lt
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push local 3
pop local 4
push local 0
pop local 5
push constant 0
not
pop local 13
label IF_FALSE6
label IF_FALSE5
label IF_FALSE2
label IF_FALSE1
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 13
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push local 5
push this 2
add
pop pointer 1
push that 0
pop local 8
push constant 0
pop local 11
label WHILE_EXP1
push local 11
push this 4
lt
not
if-goto WHILE_END1
push local 11
push this 1
add
pop pointer 1
push that 0
pop local 10
push local 10
call Table.isOccupied 1
not
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push local 10
push local 8
call Table.seatCustomer 2
pop temp 0
push local 8
call Customer.isPair 1
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push local 8
push local 10
call Table.getX 1
push constant 23
sub
push local 10
call Table.getY 1
call Customer.moveTo 3
pop temp 0
push local 8
push constant 0
not
call Customer.setSeatedOnLeft 2
pop temp 0
push local 8
call Customer.seat 1
pop temp 0
push local 8
call Customer.getPair 1
pop local 9
push local 9
push constant 0
eq
not
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push local 9
push local 10
call Table.getX 1
push constant 23
add
push local 10
call Table.getY 1
call Customer.moveTo 3
pop temp 0
push local 9
push constant 0
call Customer.setSeatedOnLeft 2
pop temp 0
push local 9
call Customer.seat 1
pop temp 0
label IF_FALSE10
goto IF_END9
label IF_FALSE9
push this 10
push this 10
push constant 2
call Math.divide 2
push constant 2
call Math.multiply 2
sub
pop local 6
push local 6
push constant 0
eq
pop local 14
push local 14
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push local 8
push local 10
call Table.getX 1
push constant 23
sub
push local 10
call Table.getY 1
call Customer.moveTo 3
pop temp 0
push local 8
push constant 0
not
call Customer.setSeatedOnLeft 2
pop temp 0
goto IF_END11
label IF_FALSE11
push local 8
push local 10
call Table.getX 1
push constant 23
add
push local 10
call Table.getY 1
call Customer.moveTo 3
pop temp 0
push local 8
push constant 0
call Customer.setSeatedOnLeft 2
pop temp 0
label IF_END11
push local 8
call Customer.seat 1
pop temp 0
label IF_END9
push pointer 0
call PenguinDinerGame.updateQueue 1
pop temp 0
push pointer 0
call PenguinDinerGame.redrawAll 1
pop temp 0
push this 4
pop local 11
label IF_FALSE8
push local 11
push constant 1
add
pop local 11
goto WHILE_EXP1
label WHILE_END1
label IF_FALSE7
push constant 0
return
function PenguinDinerGame.handleTakeOrder 5
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 6
lt
not
if-goto WHILE_END0
push local 0
push this 2
add
pop pointer 1
push that 0
pop local 3
push local 3
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 3
call Customer.getState 1
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push local 3
call Customer.getX 1
push local 3
call Customer.getY 1
call PenguinDinerGame.isNear 3
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 10
push this 0
call Penguin.getX 1
add
push local 0
add
push this 10
push this 0
call Penguin.getX 1
add
push local 0
add
push constant 7
call Math.divide 2
push constant 7
call Math.multiply 2
sub
pop local 1
push local 1
push constant 2
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 1
push local 1
push constant 3
call Math.divide 2
push constant 3
call Math.multiply 2
sub
pop local 1
label IF_FALSE3
push local 3
push local 1
call Customer.setFoodType 2
pop temp 0
push local 3
call Customer.takeOrder 1
pop temp 0
push this 3
push local 1
call Kitchen.addOrder 2
pop temp 0
push local 3
call Customer.isPair 1
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 3
call Customer.getPair 1
pop local 4
push local 4
push constant 0
eq
not
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 10
push this 0
call Penguin.getY 1
add
push local 0
add
push this 10
push this 0
call Penguin.getY 1
add
push local 0
add
push constant 11
call Math.divide 2
push constant 11
call Math.multiply 2
sub
pop local 2
push local 2
push constant 2
gt
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push local 2
push local 2
push constant 3
call Math.divide 2
push constant 3
call Math.multiply 2
sub
pop local 2
label IF_FALSE6
push local 4
push local 2
call Customer.setFoodType 2
pop temp 0
push local 4
call Customer.takeOrder 1
pop temp 0
push this 3
push local 2
call Kitchen.addOrder 2
pop temp 0
label IF_FALSE5
label IF_FALSE4
push this 6
pop local 0
label IF_FALSE2
label IF_FALSE1
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function PenguinDinerGame.handlePickupFood 9
push argument 0
pop pointer 0
push this 0
call Penguin.bothHandsFull 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push this 3
call Kitchen.getMaxSlots 1
pop local 3
push constant 10000
pop local 5
push constant 1
neg
pop local 4
push constant 0
pop local 8
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push local 3
lt
not
if-goto WHILE_END0
push this 3
push local 0
call Kitchen.getSlotX 2
pop local 2
push this 3
push local 0
call Kitchen.isSlotReady 2
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
call Penguin.getX 1
push local 2
sub
pop local 6
push local 6
push constant 0
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 6
neg
pop local 6
label IF_FALSE2
push pointer 0
push local 2
push this 3
call Kitchen.getY 1
push constant 15
sub
call PenguinDinerGame.isNear 3
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 6
push local 5
lt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 6
pop local 5
push local 0
pop local 4
push constant 0
not
pop local 8
label IF_FALSE4
label IF_FALSE3
label IF_FALSE1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 8
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 3
push local 4
call Kitchen.pickupFood 2
pop local 1
push local 1
push constant 1
neg
eq
not
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 0
push local 1
call Penguin.pickupOrder 2
pop local 7
label IF_FALSE6
label IF_FALSE5
push constant 0
return
function PenguinDinerGame.handleServe 2
push argument 0
pop pointer 0
push this 0
call Penguin.getHasOrder 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 6
lt
not
if-goto WHILE_END0
push local 0
push this 2
add
pop pointer 1
push that 0
pop local 1
push local 1
push constant 0
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 1
call Customer.getState 1
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
push local 1
call Customer.getX 1
push local 1
call Customer.getY 1
call PenguinDinerGame.isNear 3
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 1
call Customer.serveFood 1
pop temp 0
push this 0
call Penguin.deliverOrder 1
pop temp 0
push pointer 0
call PenguinDinerGame.redrawAll 1
pop temp 0
push this 6
pop local 0
label IF_FALSE3
label IF_FALSE2
label IF_FALSE1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
label IF_FALSE0
push constant 0
return
function PenguinDinerGame.handleCollect 7
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 6
lt
not
if-goto WHILE_END0
push local 0
push this 2
add
pop pointer 1
push that 0
pop local 2
push local 2
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 2
call Customer.isReadyToLeave 1
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push local 2
call Customer.getX 1
push local 2
call Customer.getY 1
call PenguinDinerGame.isNear 3
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 2
call Customer.collectPayment 1
pop local 5
push this 8
push local 5
add
pop this 8
push this 7
push constant 1
add
pop this 7
push local 2
call Customer.isPair 1
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 2
call Customer.getPair 1
pop local 3
push local 3
push constant 0
eq
not
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 3
call Customer.isReadyToLeave 1
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 3
call Customer.collectPayment 1
pop local 5
push this 8
push local 5
add
pop this 8
push this 7
push constant 1
add
pop this 7
push local 2
push constant 0
call Customer.setPair 2
pop temp 0
push local 3
push constant 0
call Customer.setPair 2
pop temp 0
push constant 0
pop local 1
label WHILE_EXP1
push local 1
push this 6
lt
not
if-goto WHILE_END1
push local 1
push this 2
add
pop pointer 1
push that 0
push local 3
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push local 3
call Customer.erase 1
pop temp 0
push local 3
call Customer.dispose 1
pop temp 0
push local 1
push this 2
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 5
push constant 1
sub
pop this 5
push this 6
pop local 1
label IF_FALSE6
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
label IF_FALSE5
label IF_FALSE4
label IF_FALSE3
push constant 0
pop local 6
label WHILE_EXP2
push local 6
push this 4
lt
not
if-goto WHILE_END2
push local 6
push this 1
add
pop pointer 1
push that 0
pop local 4
push local 4
call Table.getCustomer 1
push local 2
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push local 4
call Table.erasePaymentIndicator 1
pop temp 0
push local 4
call Table.removeCustomer 1
pop temp 0
push this 4
pop local 6
label IF_FALSE7
push local 6
push constant 1
add
pop local 6
goto WHILE_EXP2
label WHILE_END2
push local 2
call Customer.erase 1
pop temp 0
push local 2
call Customer.dispose 1
pop temp 0
push local 0
push this 2
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 5
push constant 1
sub
pop this 5
push pointer 0
call PenguinDinerGame.updateScore 1
pop temp 0
push pointer 0
call PenguinDinerGame.redrawAll 1
pop temp 0
push this 6
pop local 0
label IF_FALSE2
label IF_FALSE1
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function PenguinDinerGame.handleSmartAction 6
push argument 0
pop pointer 0
push constant 0
pop local 5
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 6
lt
push local 5
not
and
not
if-goto WHILE_END0
push local 0
push this 2
add
pop pointer 1
push that 0
pop local 4
push local 4
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 4
call Customer.isReadyToLeave 1
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push local 4
call Customer.getX 1
push local 4
call Customer.getY 1
call PenguinDinerGame.isNear 3
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call PenguinDinerGame.handleCollect 1
pop temp 0
push constant 0
not
pop local 5
label IF_FALSE2
label IF_FALSE1
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 5
not
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 0
call Penguin.getHasOrder 1
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
pop local 0
label WHILE_EXP1
push local 0
push this 6
lt
push local 5
not
and
not
if-goto WHILE_END1
push local 0
push this 2
add
pop pointer 1
push that 0
pop local 4
push local 4
push constant 0
eq
not
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 4
call Customer.getState 1
push constant 2
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push pointer 0
push local 4
call Customer.getX 1
push local 4
call Customer.getY 1
call PenguinDinerGame.isNear 3
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push pointer 0
call PenguinDinerGame.handleServe 1
pop temp 0
push constant 0
not
pop local 5
label IF_FALSE7
label IF_FALSE6
label IF_FALSE5
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
label IF_FALSE4
label IF_FALSE3
push local 5
not
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push this 0
call Penguin.bothHandsFull 1
not
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push this 3
call Kitchen.getMaxSlots 1
pop local 3
push constant 0
pop local 1
label WHILE_EXP2
push local 1
push local 3
lt
push local 5
not
and
not
if-goto WHILE_END2
push this 3
push local 1
call Kitchen.getSlotX 2
pop local 2
push pointer 0
push local 2
push this 3
call Kitchen.getY 1
push constant 15
sub
call PenguinDinerGame.isNear 3
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push pointer 0
call PenguinDinerGame.handlePickupFood 1
pop temp 0
push constant 0
not
pop local 5
label IF_FALSE10
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP2
label WHILE_END2
label IF_FALSE9
label IF_FALSE8
push local 5
not
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push constant 0
pop local 0
label WHILE_EXP3
push local 0
push this 6
lt
push local 5
not
and
not
if-goto WHILE_END3
push local 0
push this 2
add
pop pointer 1
push that 0
pop local 4
push local 4
push constant 0
eq
not
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push local 4
call Customer.getState 1
push constant 1
eq
if-goto IF_TRUE13
goto IF_FALSE13
label IF_TRUE13
push pointer 0
push local 4
call Customer.getX 1
push local 4
call Customer.getY 1
call PenguinDinerGame.isNear 3
if-goto IF_TRUE14
goto IF_FALSE14
label IF_TRUE14
push pointer 0
call PenguinDinerGame.handleTakeOrder 1
pop temp 0
push constant 0
not
pop local 5
label IF_FALSE14
label IF_FALSE13
label IF_FALSE12
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP3
label WHILE_END3
label IF_FALSE11
push local 5
not
if-goto IF_TRUE15
goto IF_FALSE15
label IF_TRUE15
push constant 0
pop local 0
label WHILE_EXP4
push local 0
push this 6
lt
push local 5
not
and
not
if-goto WHILE_END4
push local 0
push this 2
add
pop pointer 1
push that 0
pop local 4
push local 4
push constant 0
eq
not
if-goto IF_TRUE16
goto IF_FALSE16
label IF_TRUE16
push local 4
call Customer.getState 1
push constant 0
eq
if-goto IF_TRUE17
goto IF_FALSE17
label IF_TRUE17
push pointer 0
push local 4
call Customer.getX 1
push local 4
call Customer.getY 1
call PenguinDinerGame.isNear 3
if-goto IF_TRUE18
goto IF_FALSE18
label IF_TRUE18
push pointer 0
call PenguinDinerGame.handleSeat 1
pop temp 0
push constant 0
not
pop local 5
label IF_FALSE18
label IF_FALSE17
label IF_FALSE16
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP4
label WHILE_END4
label IF_FALSE15
push constant 0
return
function PenguinDinerGame.redrawAll 3
push argument 0
pop pointer 0
push this 3
call Kitchen.draw 1
pop temp 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 4
lt
not
if-goto WHILE_END0
push local 0
push this 1
add
pop pointer 1
push that 0
pop local 1
push local 1
call Table.draw 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
pop local 0
label WHILE_EXP1
push local 0
push this 6
lt
not
if-goto WHILE_END1
push local 0
push this 2
add
pop pointer 1
push that 0
pop local 2
push local 2
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 2
call Customer.draw 1
pop temp 0
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push constant 0
pop local 0
label WHILE_EXP2
push local 0
push this 6
lt
not
if-goto WHILE_END2
push local 0
push this 2
add
pop pointer 1
push that 0
pop local 2
push local 2
push constant 0
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 2
call Customer.drawFood 1
pop temp 0
label IF_FALSE1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP2
label WHILE_END2
push constant 0
pop local 0
label WHILE_EXP3
push local 0
push this 4
lt
not
if-goto WHILE_END3
push local 0
push this 1
add
pop pointer 1
push that 0
pop local 1
push local 1
call Table.getCustomer 1
pop local 2
push local 2
push constant 0
eq
not
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 2
call Customer.bothReadyToPay 1
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 1
call Table.drawPaymentIndicator 1
pop temp 0
label IF_FALSE3
label IF_FALSE2
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP3
label WHILE_END3
push this 0
call Penguin.draw 1
pop temp 0
push constant 0
return
function PenguinDinerGame.update 4
push argument 0
pop pointer 0
push this 3
call Kitchen.update 1
pop temp 0
push this 13
push constant 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 13
push constant 1
sub
pop this 13
label IF_FALSE0
push this 12
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 10
push constant 1
add
pop this 10
push this 10
call GameConfig.getCustomerSpawnInterval 0
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call PenguinDinerGame.spawnCustomer 1
pop temp 0
push constant 0
pop this 10
label IF_FALSE2
push this 13
push constant 0
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
call PenguinDinerGame.handleSmartAction 1
pop temp 0
push constant 5
pop this 13
label IF_FALSE3
label IF_FALSE1
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 6
lt
not
if-goto WHILE_END0
push local 0
push this 2
add
pop pointer 1
push that 0
pop local 2
push local 2
push constant 0
eq
not
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 2
call Customer.update 1
pop temp 0
push local 2
call Customer.leftAngry 1
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 2
call Customer.getState 1
push constant 3
lt
push local 2
call Customer.getState 1
push constant 1
neg
gt
and
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push local 2
call Customer.getState 1
push constant 2
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push this 3
push local 2
call Customer.getFoodType 1
call Kitchen.cancelOrder 2
pop temp 0
label IF_FALSE7
push local 2
call Customer.erase 1
pop temp 0
push local 0
push this 2
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 5
push constant 1
sub
pop this 5
push this 8
call GameConfig.getAngryCustomerPenalty 0
sub
pop this 8
push constant 0
pop local 1
label WHILE_EXP1
push local 1
push this 4
lt
not
if-goto WHILE_END1
push local 1
push this 1
add
pop pointer 1
push that 0
pop local 3
push local 3
call Table.getCustomer 1
push local 2
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push local 3
call Table.removeCustomer 1
pop temp 0
push this 4
pop local 1
label IF_FALSE8
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 2
call Customer.dispose 1
pop temp 0
push pointer 0
call PenguinDinerGame.updateScore 1
pop temp 0
push pointer 0
call PenguinDinerGame.redrawAll 1
pop temp 0
label IF_FALSE6
label IF_FALSE5
label IF_FALSE4
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function PenguinDinerGame.clearReadyMessage 0
push argument 0
pop pointer 0
push constant 10
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 60
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 11
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 60
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push pointer 0
call PenguinDinerGame.redrawAll 1
pop temp 0
push constant 0
return
function PenguinDinerGame.run 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
not
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 0
push local 0
push constant 81
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 1
label IF_FALSE0
push local 0
push constant 131
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 12
not
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call PenguinDinerGame.clearReadyMessage 1
pop temp 0
push constant 0
not
pop this 12
label IF_FALSE2
push this 0
push this 1
push this 4
push this 2
push this 6
call Penguin.moveUp 5
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
call PenguinDinerGame.redrawAll 1
pop temp 0
label IF_FALSE3
label IF_FALSE1
push local 0
push constant 133
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 12
not
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push pointer 0
call PenguinDinerGame.clearReadyMessage 1
pop temp 0
push constant 0
not
pop this 12
label IF_FALSE5
push this 0
push this 1
push this 4
push this 2
push this 6
call Penguin.moveDown 5
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push pointer 0
call PenguinDinerGame.redrawAll 1
pop temp 0
label IF_FALSE6
label IF_FALSE4
push local 0
push constant 130
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push this 12
not
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push pointer 0
call PenguinDinerGame.clearReadyMessage 1
pop temp 0
push constant 0
not
pop this 12
label IF_FALSE8
push this 0
push this 1
push this 4
push this 2
push this 6
call Penguin.moveLeft 5
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push pointer 0
call PenguinDinerGame.redrawAll 1
pop temp 0
label IF_FALSE9
label IF_FALSE7
push local 0
push constant 132
eq
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push this 12
not
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push pointer 0
call PenguinDinerGame.clearReadyMessage 1
pop temp 0
push constant 0
not
pop this 12
label IF_FALSE11
push this 0
push this 1
push this 4
push this 2
push this 6
call Penguin.moveRight 5
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push pointer 0
call PenguinDinerGame.redrawAll 1
pop temp 0
label IF_FALSE12
label IF_FALSE10
push pointer 0
call PenguinDinerGame.update 1
pop temp 0
call GameConfig.getGameLoopDelay 0
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
